<log4net>
    <appender name="DefaultLog" type="log4net.Appender.RollingFileAppender">
        <file value="{{{appLoggingPath}}}\{{{app}}}.log"/>
        <!-- editable -->
        <appendToFile value="true"/>
        <datePattern value="yyyyMMdd"/>
        <rollingStyle value="Size"/>
        <maxSizeRollBackups value="10"/>
        <maximumFileSize value="5000KB"/>
        <layout type="Vitrium.Commons.Diagnostics.PatternLayout">
            <conversionPattern value="%d [%p] %c: %m%n"/>
        </layout>
    </appender>
    <root>
        <priority value="{{{loggingLevel}}}"/>
        <!-- ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
        <appender-ref ref="DefaultLog"/>
    </root>
</log4net>